.containerItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  width: 15px;
  height: 15px;
  margin: 0px 20px;
}
.btn-delete {
  width: 15px;
  height: 20px;
  background-color: red;
  margin: 0px 20px;
}