.main-container {
  display: column;
  align-items: center;
}
.main-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
input {
  width: 50vw;
  height: 20px;
}
.containerItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  width: 15px;
  height: 15px;
  margin: 0px 20px;
}
.btn-valid {
  width: 15px;
  height: 20px;
  background-color: white;
  margin: 0px 20px;
}
.btn-delete {
  width: 15px;
  height: 20px;
  background-color: red;
  margin: 0px 20px;
}

.navbar-container{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}